.box {
    background-color: beige;
    height: 290px;
    width: 230px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px grey;
}
.box:hover{
transform:translateY(-10px);
box-shadow:0 0 15px #f9ab11fa ;
}
#result {
    color: black;
    margin: right 800px;
    text-align: center;
    font-weight: bolder;
}
input {
    border-radius: 5px;
    border: 2px inset black;
}

input:hover {
    color: blue;
}

select:hover {
    color: green;
}
body{
    background-color:rgb(140, 184, 171);
}
.box{
    margin:auto;
    margin-top:200px;
    background-color: rgb(67, 206, 204);
}

/*LAPTOP VIEW*/
@media (min-width: 768px){
body{
    background-color:rgb(140, 184, 171);;
}

.box {
    background-color:rgb(67, 206, 204);
    height: 290px;
    width: 230px;
    border-radius: 8px;
 


}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

input {
    border-radius: 5px;
    border: 2px inset black;
}

input:hover {
    color: blue;
}

select:hover {
    color: green;
}
}
h5 {

    animation: slide1 0.8s ease-out;
}

@keyframes slide1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

#result {
    color: black;
    margin: right 800px;
    text-align: center;
    font-weight: bolder;

    animation: slide 6s ease-in-out;

}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

